@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    background-image: linear-gradient(to right, #87CEEB, #1E90FF);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Dosis", sans-serif;
  }
  main {
    padding: 2rem;
  }

  .buscador-inicio {
    text-align: center;
    margin-bottom: 3rem;
  }

  .buscador-inicio h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  #cep-inserido {
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    max-width: 250px;
    margin-bottom: 1rem;
  }

  button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  #resultado-pesquisa{
    margin-top: 2rem; 
  }
  .erro-mensagem{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #fff ;
    text-align: center;
    color: red;
  }

  .card-resultado{
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1.5rem;
    max-width: 300px;
    margin: 0 auto;
  }

  .card-resultado h2 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .card-resultado p {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  footer {
    color: #000000;
    text-align: center;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}
.footer-icons{
  font-size: 25px;
  gap: 10px;
  cursor: pointer;
}
.footer-icons a{
    color: #000000;
}